h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .commandButtons {
        display: flex;
        flex-direction: column;

        button {
            padding: 10px 10px;
        }
    }
}

.scoreContainer {
    height: 50px;
    width: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 80vh;
    border: 2px solid dodgerblue;
    background-image: url('../assets/cartoon-grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.moleDiv {
    width: 120px;
    height: 120px;
    transition: .1s linear;
}

.box1 {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.box2 {
    position: absolute;
    top: 40%; 
    left: 35%;
}

.box3 {
    position: absolute;
    top: 23%;
    right: 17%;
}

.box4 {
    position: absolute;           
    top: 18%;
    left: 15%;
}

.box5 {
    position: absolute;            
    top: 60%;
    left: 55%;
}

.box6 {
    position: absolute;
    bottom: 5%;
    right: 5%
}

img {
    width: 120%;
    height: 100%;
    display: block;  
}

.dirtMound {
    width: 13%;
    height: 20%;
}

.dirt1 {
    position: absolute;
    bottom: 9%;
    left: 8%;
}

.dirt2 {
    position: absolute;
    top: 40%; 
    left: 32%;
}

.dirt3 {
    position: absolute;
    top: 23%;
    right: 14%;
}

.dirt4 {
    position: absolute;           
    top: 18%;
    left: 12%;
}

.dirt5 {
    position: absolute;            
    top: 60%;
    left: 51%;
}

.dirt6 {
    position: absolute;
    bottom: 5%;
    right: 4%
}