body {
    font-family: 'Bangers', cursive;
    position: relative;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
}


/***********************************************************
		    		  MAIN SECTION
***********************************************************/

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    position: relative;
    background-image: url('../assets/cartoon-grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: url('../assets/mallet-icon.png'), auto;
}

.mole-div {
    width: 62%;
    height: 117%;
    position: absolute;
    left: 27%;
    top: -13%;
    visibility: hidden;
    transition: .1s linear;
}

.dirt-mound {
    width: 110%;
    height: 120%;
    position: absolute;
}

.item-set {
    position: absolute;
    width: 20%;
    height: 20%;
}

.item-set-1 {
    top: 14%;
    left: 9%;
}

.item-set-2 {
    top: 27%;
    left: 31%;
}

.item-set-3 {
    top: 45%;
    left: 50%;
}

.item-set-4 {
    top: 63%; 
    left: 12%;
}

.item-set-5 {
    top: 17%;
    right: 9%;
}

.item-set-6 {
    bottom: 10%;
    right: 13%;
}

