h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .commandButtons {
        display: flex;
        flex-direction: column;

        button {
            padding: 10px 10px;
        }
    }
}

.scoreContainer {
    height: 50px;
    width: 100px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    height: 80vh;
    border: 2px solid dodgerblue;
    background-image: url('../assets/cartoon-grass.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.moleDiv {
    width: 120px;
    height: 120px;
    transition: .1s linear;
    position: absolute;
    left: 32%;
    background-color: coral;
}

.dirtMound {
    width: 110%;
    height: 140%;
    position: absolute;
    border: 2px solid red;
}

.itemSet1 {
    position: absolute;
    top: 16%;
    left: 5%;
    width: 20%;
    height: 20%;
    // border: 2px solid red;
}

.itemSet2 {
    position: absolute;
    top: 31%;
    left: 29%;
    width: 20%;
    height: 20%;
    // border: 2px solid red;
}


.itemSet3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    // border: 2px solid red;
}


.itemSet4 {
    position: absolute;
    top: 63%; 
    left: 12%;
    width: 20%;
    height: 20%;
    // border: 2px solid red;
}


.itemSet5 {
    position: absolute;
    top: 17%;
    right: 9%;
    width: 20%;
    height: 20%;
    // border: 2px solid red;
}

.itemSet6 {
    position: absolute;
    bottom: 10%;
    right: 4%;
    width: 20%;
    height: 20%;
    // border: 2px solid red;
}




// .box3 {
//     position: absolute;
//     top: 23%;
//     right: 17%;
// }

// .box4 {
//     position: absolute;           

// }

// .box5 {
//     position: absolute;            
//     top: 60%;
//     left: 55%;
// }

// .box6 {
//     position: absolute;
//     bottom: 5%;
//     right: 5%
// }

// img {
//     width: 120%;
//     height: 100%;
//     display: block;  
// }

// .dirtMound {
//     width: 16%;
//     height: 26%;
// }

// .dirt1 {
//     position: absolute;
//     bottom: 9%;
//     left: 8%;
// }

// .dirt2 {
//     position: absolute;
// }

// .dirt3 {
//     position: absolute;
    // top: 23%;
    // right: 14%;
// }

// .dirt4 {
//     position: absolute;           
    
// }

// .dirt5 {
//     position: absolute;            
//     top: 60%;
//     left: 51%;
// }

