article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.start-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.modal-overlay {
  position: absolute;
  top: 10%;
  right: 20%;
  bottom: 10%;
  left: 20%;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(#ca5f50, #D47D70);
}

.title-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
  margin-bottom: 10%;
  letter-spacing: 2px;
}

h1 {
  margin-top: 2%;
  font-size: 100px;
  white-space: nowrap;
  text-align: center;
}

h1 span {
  display: block;
}

p {
  font-size: 30px;
  letter-spacing: 2px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bangers', cursive;
  background-color: lightgray;
  position: relative;
}

header {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#87CEFA), to(#00BFFF));
  background: linear-gradient(to top, #87CEFA, #00BFFF);
  font-family: 'Bangers', cursive;
}

.header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 2%;
}

.command-buttons {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.command-buttons button {
  border: none;
  border-radius: 100px;
  background-color: #D47D70;
  padding: 15px 35px;
  -webkit-box-shadow: 5px 5px 5px #2e2d2c;
          box-shadow: 5px 5px 5px #2e2d2c;
  font-size: 25px;
}

.command-buttons button:focus,
.command-buttons button:hover {
  background-color: #FC7F4A;
}

.command-buttons .start-button {
  position: absolute;
}

.command-buttons .quit-button {
  position: absolute;
  display: none;
}

.score-container {
  height: 40%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  position: relative;
}

.score-container h2 {
  font-size: 40px;
}

.score-container .score-box {
  width: 60%;
}

.score-container .timer-box {
  width: 60%;
}

.score-container #timer {
  font-size: 40px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url("../assets/cartoon-grass.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("../assets/mallet-icon.png"), auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mole-div {
  width: 62%;
  height: 117%;
  -webkit-transition: .1s linear;
  transition: .1s linear;
  position: absolute;
  left: 27%;
  top: -13%;
  visibility: hidden;
}

@-webkit-keyframes scoreplus-one {
  0% {
    opacity: 1;
    bottom: 0;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

@keyframes scoreplus-one {
  0% {
    opacity: 1;
    bottom: 0;
  }
  50% {
    opacity: 0.5;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 0;
  }
}

.score-animation {
  -webkit-animation: scoreplus-one 0.3s linear;
          animation: scoreplus-one 0.3s linear;
}

.score-text {
  position: absolute;
  width: 55px;
  height: 170%;
  top: 50%;
  left: 16%;
  z-index: 20;
}

#plus-one {
  position: absolute;
  bottom: 0;
  opacity: 0;
  font-size: 60px;
}

.dirt-mound {
  width: 110%;
  height: 120%;
  position: absolute;
}

.item-set {
  position: absolute;
  width: 20%;
  height: 20%;
}

.item-set-1 {
  top: 14%;
  left: 9%;
}

.item-set-2 {
  top: 27%;
  left: 31%;
}

.item-set-3 {
  top: 45%;
  left: 50%;
}

.item-set-4 {
  top: 63%;
  left: 12%;
}

.item-set-5 {
  top: 17%;
  right: 9%;
}

.item-set-6 {
  bottom: 10%;
  right: 13%;
}

@media (min-width: 1600px) {
  .mole-div {
    width: 75%;
    left: 20%;
  }
}

@media (max-width: 1400px) {
  .mole-div {
    width: 75%;
    left: 20%;
  }
  .dirt-mound {
    width: 120%;
  }
}

@media (max-width: 1200px) {
  .mole-div {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .mole-div {
    width: 88%;
    left: 21%;
  }
  .header-content {
    width: 90%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 75px;
  }
  p {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .mole-div {
    width: 100%;
    left: 16%;
  }
  .dirt-mound {
    width: 125%;
  }
  .command-buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 30%;
  }
  .score-container .timer-box {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .modal-overlay {
    right: 10%;
    left: 10%;
  }
  .title-container {
    width: 80%;
  }
  h1 {
    font-size: 75px;
  }
  p {
    font-size: 30px;
  }
  .mole-div {
    left: 14%;
  }
  .dirt-mound {
    width: 120%;
  }
  .item-set {
    position: absolute;
    width: 30%;
    height: 20%;
  }
  .item-set-1 {
    top: 9%;
    left: 5%;
  }
  .item-set-2 {
    top: 32%;
    left: 29%;
  }
  .item-set-3 {
    top: 51%;
    left: 62%;
  }
  .item-set-4 {
    top: 62%;
    left: 3%;
  }
  .item-set-5 {
    top: 13%;
    right: 6%;
  }
  .item-set-6 {
    bottom: 7%;
    right: 31%;
  }
}

@media (max-width: 500px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .score-container {
    width: 100%;
  }
  .command-buttons {
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .score-text {
    top: 0;
    left: 46%;
  }
}

@media (max-width: 460px) {
  .modal-overlay {
    right: 5%;
    left: 5%;
    border-radius: 5px;
  }
  .title-container {
    width: 90%;
  }
  h1 {
    font-size: 60px;
  }
  p {
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .header-content {
    width: 95%;
  }
  .mole-div {
    width: 125%;
    left: 13%;
  }
  .dirt-mound {
    width: 150%;
  }
  .item-set {
    position: absolute;
    width: 30%;
    height: 20%;
  }
  .item-set-1 {
    top: 11%;
    left: 8%;
  }
  .item-set-2 {
    top: 40%;
    left: 7%;
  }
  .item-set-3 {
    top: 13%;
    right: 16%;
    left: initial;
  }
  .item-set-4 {
    top: 68%;
    left: 3%;
  }
  .item-set-5 {
    top: 47%;
    left: 52%;
    right: initial;
  }
  .item-set-6 {
    bottom: 3%;
    right: 23%;
  }
}
